@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-ibm-plex-sans-thai);
}
.text-h3 {
  font-size: 36px;
  line-height: 125%;
  font-family: var(--font-kondolar-thai);
}
.text-h4 {
  font-size: 32px;
  line-height: 140%;
  font-family: var(--font-kondolar-thai);
}
.text-h5 {
  font-size: 28px;
  line-height: 140%;
  font-family: var(--font-kondolar-thai);
}
.text-h6 {
  font-size: 24px;
  line-height: 140%;
  font-family: var(--font-kondolar-thai);
}
.text-h7 {
  font-size: 21px;
  line-height: 140%;
}
.text-h8 {
  font-size: 18px;
  line-height: 140%;
}
.text-h9 {
  font-size: 16px;
  line-height: 140%;
}
.text-h10 {
  font-size: 15px;
  line-height: 140%;
}
.text-h11 {
  font-size: 14px;
  line-height: 140%;
}
@screen lg {
  .text-h3 {
    font-size: 60px;
    line-height: 125%;
  }
  .text-h4 {
    font-size: 48px;
    line-height: 140%;
  }
  .text-h5 {
    font-size: 36px;
    line-height: 140%;
  }
  .text-h6 {
    font-size: 32px;
    line-height: 140%;
  }
  .text-h7 {
    font-size: 28px;
    line-height: 140%;
  }
  .text-h8 {
    font-size: 24px;
    line-height: 140%;
  }
  .text-h9 {
    font-size: 21px;
    line-height: 140%;
  }
  .text-h10 {
    font-size: 18px;
    line-height: 140%;
  }
  .text-h11 {
    font-size: 16px;
    line-height: 140%;
  }
}
