@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: theme('colors.grey0');
}
::-webkit-scrollbar-thumb {
  background: theme('colors.grey2');
}
.screen {
  min-height: 900px;
  height: 100%;
}
.stripe-white {
  background: repeating-linear-gradient(
    -45deg,
    white,
    white 1px,
    transparent 1px,
    transparent 4px
  );
  border: 1px solid white;
}
.stripe-black {
  background: repeating-linear-gradient(
    -45deg,
    black,
    black 0.5px,
    transparent 1px,
    transparent 2px
  );
  border: 0.5px solid black;
  @screen lg {
    background: repeating-linear-gradient(
      -45deg,
      black,
      black 1px,
      transparent 1px,
      transparent 4px
    );
  }
}
.stripe-grey {
  background: repeating-linear-gradient(
    -45deg,
    theme('colors.grey2'),
    theme('colors.grey2') 1px,
    transparent 1px,
    transparent 5px
  );
  border: 1px solid theme('colors.grey2');
  @screen lg {
    background: repeating-linear-gradient(
      -45deg,
      theme('colors.grey2'),
      theme('colors.grey2') 2px,
      transparent 2px,
      transparent 8px
    );
    border: 2px solid theme('colors.grey2');
  }
}
